body {
	align-items: center;
	background-color: white;
	background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.container {
	background-color: #e9e9e9;
    border-radius: 15px;
    margin: 50px 0px;
	height: 50%;
	max-width: 50%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container--signin {
	left: 0;
	width: 50%;
	z-index: 2;
}

.btn {
	background-color: blue;
	border-radius: 20px;
	border: 1px solid blue;
	color: white;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
}

.form > .btn {
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form {
	background-color: white;
    border-radius: 0px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
    margin: 0px 2px 15px 2px;
	height: 100%;
	text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
}


.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}
